# Virtual Environment
venv/
.venv/
env/

# Django
*.pyc
__pycache__/
*.pyo
*.py~
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Migrations (если хотите исключить)
# migrations/